
    
  
       <div class="accountm">
        
    <div class="account_right">
        <div class="acoount_right_bottom">
            <div class="account_left_h1"><h1>Account Settings</h1></div>
        </div>
        <div class="acoount_right_bottom">
            <div class="account_feild_div">
                <div class="account_field">
                    <label for="" class="accLabel">First Name</label><br>
                    <div class="accin">{{userdata.firstName}}</div>
        
                </div>
                <div class="account_field">
                    <label for="" class="accLabel">Last Name</label><br>
                    <div class="accin">{{userdata.lastName}}</div>
        
                </div>
    
            </div>
    
            <div class="account_feild_div">
                <div class="account_field">
                    <label for="" class="accLabel">Role</label><br>
                    <div class="accin">{{userdata.roles}}</div>
        
                </div>
                <div class="account_field">
                    <label for="" class="accLabel">UserName</label><br>
                    <div class="accin">{{userdata.userNname}}</div>
        
                </div>
    
            </div>
    
           
    
            <div class="account_feild_div">
                <div class="account_field">
                    <label for="" class="accLabel">Email</label><br>
                    <div class="accin">{{userdata.email}}</div>
        
                </div>
                <div class="account_field">
                    <label for="" class="accLabel">Mobile Number</label><br>
                    <div class="accin">{{userdata.mobileNo}}</div>
        
                </div>
    
            </div>
        </div>
        
        
        
    </div>
</div>


