<div class="forger_main">
    <div class="forget_outer">
      <div class="forget_left">
        <div class="forget_text">
          <h1>Forgot Password</h1>
          <p>Enter the email address associated with your account, and we'll send you a link to reset your password</p>
        </div>
  
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="forget_input">
            <label for="email" class="label">Email</label><br>
            <input type="email" formControlName="email" placeholder="Ex: nimal@gmail.com" class="f_input">
          </div>
  
          <div class="forget_button">
            <button type="submit" class="btn" [disabled]="forgotPasswordForm.invalid">Continue</button>
          </div>
        </form>
      </div>
      <div class="forget_right">
        <img src="../../../assets/new_forgot_pass.jpg" alt="Forgot password image">
      </div>
    </div>
  </div>
  